<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.udevs.xpad</string>
			<key>key</key>
			<string>enabledBOOL</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.udevs.xpad/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Shortcuts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>XPPManageShortcutsController</string>
			<key>label</key>
			<string>Manage Shortcuts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.udevs.xpad</string>
			<key>key</key>
			<string>doubletapBOOL</string>
			<key>label</key>
			<string>Double Tap</string>
			<key>PostNotification</key>
			<string>com.udevs.xpad/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.udevs.xpad</string>
			<key>key</key>
			<string>shakeBOOL</string>
			<key>label</key>
			<string>Shake Shortcut</string>
			<key>PostNotification</key>
			<string>com.udevs.xpad/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.udevs.xpad</string>
			<key>key</key>
			<string>toastBOOL</string>
			<key>label</key>
			<string>Show Toast</string>
			<key>PostNotification</key>
			<string>com.udevs.xpad/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Icon</string>
				<string>Text</string>
			</array>
			<key>key</key>
			<string>displaytype</string>
			<key>defaults</key>
			<string>com.udevs.xpad</string>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.udevs.xpad/prefschanged</string>
			<key>id</key>
			<string>displaytypeselection</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Auto</string>
				<string>Left</string>
				<string>Center</string>
				<string>Right</string>
				<string>Manual</string>
			</array>
			<key>key</key>
			<string>mode</string>
			<key>defaults</key>
			<string>com.udevs.xpad</string>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.udevs.xpad/prefschanged</string>
			<key>id</key>
			<string>modeselection</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.udevs.xpad</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>toastpx</string>
			<key>leftImage</key>
			<string>px.png</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>50</integer>
			<key>PostNotification</key>
			<string>com.udevs.xpad/prefschanged</string>
			<key>id</key>
			<string>pxslider</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.udevs.xpad</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>toastpy</string>
			<key>leftImage</key>
			<string>py.png</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>50</integer>
			<key>PostNotification</key>
			<string>com.udevs.xpad/prefschanged</string>
			<key>id</key>
			<string>pyslider</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.2</real>
			<key>defaults</key>
			<string>com.udevs.xpad</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>5</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>toastduration</string>
			<key>leftImage</key>
			<string>timer.png</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>50</integer>
			<key>PostNotification</key>
			<string>com.udevs.xpad/prefschanged</string>
			<key>id</key>
			<string>timerslider</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Set the maximum number of visible shortcuts. Everything else will be collapsed into a menu when the space is limited. Double tap gesture is not available in collapsed menu.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<key>key</key>
			<string>maxvisible</string>
			<key>defaults</key>
			<string>com.udevs.xpad</string>
			<key>default</key>
			<string>4</string>
			<key>PostNotification</key>
			<string>com.udevs.xpad/prefschanged</string>
			<key>id</key>
			<string>maxvisibleselection</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Set the maximum number of visible shortcuts in floating keyboard mode. Everything else will be collapsed into a menu when the space is limited. Double tap gesture is not available in collapsed menu.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<key>key</key>
			<string>maxvisiblefloat</string>
			<key>defaults</key>
			<string>com.udevs.xpad</string>
			<key>default</key>
			<string>4</string>
			<key>PostNotification</key>
			<string>com.udevs.xpad/prefschanged</string>
			<key>id</key>
			<string>maxvisiblefloatselection</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>XPPCustomizationController</string>
			<key>label</key>
			<string>Customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Development</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>donation</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>label</key>
			<string>Support Development</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>twitter</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reddit</string>
			<key>icon</key>
			<string>Reddit.png</string>
			<key>label</key>
			<string>Reddit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>Created by udevs</string>
		</dict>
	</array>
	<key>title</key>
	<string>XPad</string>
</dict>
</plist>
